
name: CommanderD

on:
  pull_request:

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: ADIBAINS/commander-action@main
        with:
          backend_url: https://commanderd.onrender.com/api/analyze

