
name: CommanderD

on:
  pull_request:

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: ADIBAINS/commander-action@main
        with:
          backend_url: https://commanderd.onrender.com/api/analyze

